[Unit]
Description=Agate Gemini server

[Service]
Type=simple
ExecStart=/root/.cargo/bin/agate --content /var/www/gmi/ --addr 0.0.0.0:1965 --hostname kip93.net --lang en-GB
User=root
WorkingDirectory=/var/agate/
Restart=on-failure

[Install]
WantedBy=multi-user.target
