# Ignore everything.
/**/*

# Except:
!/.github/
!/.gitignore
!/agate/
!/g2h
!/gmi/
!/html/
!/LICENSE.md
!/LICENSE_BSD3
!/LICENSE_CC_BY_4
!/metrics/
!/nginx/
!/README.md
!/setup.cfg
!/shell.nix
!/TEMPLATE.md
